  <div class="jumbotron">
  <h4 class="text-center">Welcome to Zach's...</h4>
  <h1 class="text-center">Reddit (Clone)</h1>
  <h3><%= button_to "Log-In", login_path, :method => :get %></h3>
  <h3><%= button_to "Submit", new_link_path, :method => :get %></h3>
  <h3><%= button_to "Create Account", new_user_path, :method => :get %></h3>
  </div>

  <h1><%= @tag.name.titleize %> links</h1>

  <table class="table">
  <tbody>
    <%= render @tag.links %>
  </tbody>
  </table>
