<div class="jumbotron">
  <h4 class="text-center">Welcome to Zach's...</h4>
  <h1 class="text-center">Reddit (Clone)</h1>
</div>

<%= simple_form_for @links do |f| %>

<div>
  <!-- <%= f.association :user, label_method: :username  %> -->
</div>
<div>
  <%= f.input :title %>
</div>
<div>
  <%= f.input :url %>
</div>
<div>
  <%= f.input :tag_names %>
</div>
<%= f.submit %>
<%end%>
